/* 모바일 */
@media (max-width: 1099px) {
  .mobile {
    float: left;
    margin: 0 0.5rem;
    display: flex;
  }
  .logo {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px 0 5px;
  }
  .header {
    max-width: 100%;
    height: 5rem;
    background-color: #ffaa00;
    box-shadow: 0 1px 4px rgb(255, 169, 63);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3%;
    /* display: none; */
  }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: left;
    align-items: baseline;
  }

  .header li {
    display: none;
  }

  .header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .header button {
    display: none;
  }
  .menu {
    display: none;
  }
}

/* 웹페이지 */
@media (min-width: 1100px) {
  .header {
    width: 80%;
    height: 5rem;
    background-color: #ffaa00;
    box-shadow: 0 1px 4px rgb(255, 169, 63);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }

  .mobile {
    float: left;
    margin: 0 0.5rem;
    display: flex;
  }

  .logo {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: white;
    margin: 0;
  }

  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }

  .header li {
    margin: 0 2rem;
  }

  .header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .header button {
    font: inherit;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
  }

  .header a:hover {
    /* color: #5c5c5c; */
  }

  .header button:hover {
    /* color: #4e4e4e; */
  }
}
